html {
  --main-bg-color: black;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 8px;
}

.button-container {
  min-width: 25%;
  display: flex;
}

.button {
  width: 100%;
  margin-right: 4px;
  padding: 16px;
  background-color: #eee;
  border-radius: 8px;
}

.list-container {
  border: 2px solid black;
  border-radius: 8px;
  padding: 16px;
  margin: 20px 8px 0 8px;
  display: flex;
  justify-content: center;
}

.active {
  background-color: darkseagreen !important;
}